@model List<ShowGroupViewModel>
@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <h3>Groups in @ViewBag.Torunament</h3>
</div>
@if (Model.Count == 0)
{
    <div class="text-center">
        <p></p>
        <p></p>
        <p></p>
        <h5>No groups for this tournament</h5>
    </div>
}
else
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Teams</th>
                <th scope="col">Matches</th>
                <th scope="col">Details</th>
            </tr>
        </thead>



        @for (int i = 0; i < Model.Count; i++)
        {
            int number = @i + 1;
            <tbody>
                <tr>
                    <th scope="row">@number</th>
                    <td>@Model[i].Name</td>

                    <td>
                        @if (Model[i].Teams == null)
                        {
                            <p>No Teams</p>
                        }
                        else
                        {
                            foreach (var team in Model[i].Teams)
                            {

                                <p><img src="data:image;base64,@System.Convert.ToBase64String(@team.Picture)" width="25" height="25" /> @team.Name  </p>
                               
                            }
                        }

                    </td>
                    @if (Model[i].AreThereAnyMatches == true)
                    {
                        <td>
                            <a asp-controller="Group" asp-action="MatchesInGroup" asp-route-groupId="@Model[i].Id" class="btn btn-success">Matches in this group</a>
                        </td>

                    }
                    else
                    {
                        <td>No Matches in this group</td>
                    }
                    <td>
                            <a asp-controller="Group" asp-action="Details" asp-route-groupId="@Model[i].Id" class="btn btn-success">View details</a>
                   </td
                </tr>

            </tbody>
        }
    </table>
}