@model List<StandingsViewModel>

<div class="text-center">
    <h3>Standings of @ViewBag.Tournament</h3>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Matches</th>
            <th scope="col">Goals </th>
            <th scope="col">+/-</th>
            <th scope="col">Wins</th>
            <th scope="col">Draws</th>
            <th scope="col">Losses</th>
            <th scope="col">Points</th>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Count; i++)
    {
        int number = @i + 1;
        <tbody>
            <tr>
                <th scope="row">@number</th>
                <td><img src="data:image;base64,@System.Convert.ToBase64String(Model[i].Picture)" width="25" height="25" />
                    <a class="" asp-area="" asp-controller="Tournament" asp-action="Team" asp-route-teamId="@Model[i].Team.Id" 
                    asp-route-tourId="@ViewBag.TournamentId">@Model[i].TeamName</a>
                </td>
                <td>@Model[i].Matches</td>
                <td>@Model[i].GoalsFor:@Model[i].GoalsAgainst</td>
                @if (@Model[i].PlusMinusGoals > 0)
                {
                    <td>+@Model[i].PlusMinusGoals</td>
                }
                else
                {
                    <td>@Model[i].PlusMinusGoals</td>
                }
                <p></p>
                <td>@Model[i].Wins</td>
                <td>@Model[i].Draws</td>
                <td>@Model[i].Losses</td>
                <td>@Model[i].Points</td>
            </tr>
        </tbody>
    }
</table>