@model List<ResultsViewModel>

@if (Model.Count == 0)
{
    <div class="text-center">
        <p></p>
        <p></p>
        <p></p>
        <h5>Nothing found</h5>
    </div>
}
else
{
    <div class="text-danger">Footballers</div>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Count; i++)
        {
            @if (Model[i].Type == "Footballer")
            {

                <body>
                <tr>
                    <td>@Model[i].Name</td>
                    <td>
                        <a asp-controller="Footballer" asp-action="Details" asp-route-id="@Model[i].Id" class="btn btn-success">Details</a>
                    </td>
                </tr>
                </body>
            }
        }
    </table>

    <div class="text-warning">Teams</div>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Count; i++)
        {
            @if (Model[i].Type == "Team")
            {

                <body>
                <tr>
                    <td>@Model[i].Name</td>
                    <td>
                        <a asp-controller="footballer" asp-action="GetAllPlayersForClub" asp-route-id="@Model[i].Id" class="btn btn-success">Players</a>
                    </td>
                </tr>
                </body>
            }
        }
    </table>
    <div class="text-primary">Stadiums</div>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Home ground of</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Count; i++)
        {
            @if (Model[i].Type == "Stadium")
            {

                <body>
                <tr>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Team</td>
                </tr>
                </body>
            }
        }
    </table>

    <div class="text-success">Countries</div>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Count; i++)

            @if (Model[i].Type == "Country")
            {


                <body>
                <tr>
                    <td>@Model[i].Name</td>
                </tr>
                </body>
            }

    </table>
}
