@model List<ShowTournamentModel>
@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <h3>Tournaments</h3>
</div>


<div class="text-center">
    <a class="" asp-area="Administrator" asp-controller="Tournament" asp-action="AddNewTournament">Add new tournament</a>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Add Teams</th>
            <th scope="col">Remove Teams</th>
            <th scope="col">Groups</th>
            <th scope="col">Current Teams in</th>
            <th scope="col">Matches</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Count; i++)
    {
        int number = @i + 1;
        <tbody>
            <tr>
                <td>@number</td>
                <td>@Model[i].Name</td>
                <td>
                    <a asp-controller="Tournament" asp-action="AddTeams" asp-route-id="@Model[i].Id" class="btn btn-primary">Add Teams</a>
                </td>
                 <td>
                    <a asp-controller="Tournament" asp-action="RemoveTeams" asp-route-id="@Model[i].Id" class="btn btn-danger">Remove Teams</a>
                </td>
                <td>
                    @if(@Model[i].isGroupTournament == true)
                    {
                        <a asp-controller="Group" asp-action="GetAllGroupsForTournament" asp-route-id="@Model[i].Id" class="btn btn-primary">Groups</a>
                    }
                    else
                    {
                        <p>No Groups</p>
                    }
                       
                </td>
                <td>
                    <a asp-controller="Tournament" asp-action="CurrentTeams" asp-route-id="@Model[i].Id" class="btn btn-info">Current teams in</a>
                </td>
                <td>
                    <a asp-controller="Tournament" asp-action="Matches" asp-route-Id="@Model[i].Id" class="btn btn-info">Matches</a>
                </td>
                <td>
                    <a asp-controller="Tournament" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        </tbody>
    }
</table>
