@using My_Transfermarkt_Core.Models.TeamModels
@model TeamToAddStadium
@{
    ViewData["Title"] = "Add stadium";
}

<h1>@ViewData["Title"] to @ViewBag.team</h1>

<div class="col-md-4">
    <form id="registerForm" asp-route-returnUrl="" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        ﻿
        <div class="mb-3">
            <label asp-for="@Model.StadiumId" class="form-label">Stadium</label>
            <select asp-for="@Model.StadiumId" class="form-control">
                <option value=>--Select stadium--</option>
                @foreach (var stadium in Model.Stadiums)
                {

                    <option value="@stadium.Id">@stadium.Name</option>
                }
            </select>
        </div>
        <p></p>
        <p></p>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}