@using My_Transfermarkt_Core.Models.TeamModels
@model List<ShowTeamModelView>
@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <h3>Teams</h3>
</div>
@if (Model.Count == 0)
{
    <div class="text-center">
        <p></p>
        <p></p>
        <p></p>
        <h5>Nothing found</h5>
        <a class="" asp-area="Administrator" asp-controller="Team" asp-action="AddNewTeam">Add new team</a>

    </div>
}
else
{
    <div class="text-center">
        <a class="" asp-area="Administrator" asp-controller="Team" asp-action="AddNewTeam">Add new team</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">Stadium Name</th>
                <th scope="col">Logo</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Count; i++)
        {
            int number = @i + 1;
            <tbody>
                <tr>
                    <td>@number</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Country</td>
                    <td>@Model[i].Stadium</td>
                    <td>
                        @if (@Model[i].Picture == null)
                        {
                            <a asp-controller="Team" asp-action="UploadLogo" asp-route-id="@Model[i].Id" class="btn btn-warning">Upload logo</a>
                        }
                        else
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(@Model[i].Picture)" width="40" height="40" />
                        
                        }

                    </td>
                    
                    
                </tr>
            </tbody>
        }
    </table>
}