@using My_Transfermarkt_Core.Models.GeneralModels
@model List<ResultsViewModel>

@if (Model.Count == 0)
{
    <div class="text-center">
        <p></p>
        <p></p>
        <p></p>
        <h5>Nothing found</h5>
    </div>
}
<div class="text center">Footballers</div>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Count; i++)
    {
        @if (Model[i].Type == "Footballer")
        {

            <body>
            <tr>
                <td>@Model[i].Name</td>
                <td>
                    <a asp-controller="Footballer" asp-action="Details" asp-route-id="@Model[i].Id" class="btn btn-success">Details</a>
                </td>
            </tr>
            </body>
        }
    }
</table>

<div class="text center">Teams</div>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Count; i++)
    {
        @if (Model[i].Type == "Team")
        {

            <body>
            <tr>
                <td>@Model[i].Name</td>
                <td>
                    <a asp-controller="Footballer" asp-action="Details" asp-route-id="@Model[i].Id" class="btn btn-success">Details</a>
                </td>
            </tr>
            </body>
        }
    }
</table>
<div class="text center">Stadiums</div>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Count; i++)
    {
        @if (Model[i].Type == "Stadium")
        {

            <body>
            <tr>
                <td>@Model[i].Name</td>
            </tr>
            </body>
        }
    }
</table>

<div class="text center">Countries</div>
<table class="table">
    
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    
    @for (int i = 0; i < Model.Count; i++)
   
        @if (Model[i].Type == "Country")
        {
          

            <body>
            <tr>
                <td>@Model[i].Name</td>
            </tr>
            </body>
        }
    }
</table>







